:root {
    --color-letra: #323232;
    --color-letra-secundario: #f3f3f3;
    --filtro: invert(0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    color: var(--color-letra);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.Clear {
    /* background-image: url('../assets/imagenes/clear_sky.webp');
    background-repeat: no-repeat; */
    background-size: cover;
    backdrop-filter: blur(3px);
    background-image: linear-gradient(to bottom, #4aa1ff, #00beff, #00d3e9, #47e3c7, #a2eeab, #c1f1a2, #dff39c, #fcf49c, #fbf396, #faf391, #f9f28b, #f8f285);
}

.Thunderstorm {
    /* background-image: url('../assets/imagenes/Thunderstorm.jpg');
    background-repeat: no-repeat; */
    background-size: cover;
    backdrop-filter: blur(3px);
    background-image: linear-gradient(to bottom, #232629, #292c30, #2f3238, #36393f, #3d3f47, #3e3f49, #3f3f4b, #403f4d, #3a394a, #333447, #2c2e45, #242942);
}

.Rain {
    /* background-image: url('../assets/imagenes/Rain.jpeg');
    background-repeat: no-repeat; */
    background-size: cover;
    backdrop-filter: blur(3px);
    background-image: linear-gradient(to bottom, #707071, #6d6d70, #6a6a70, #68676f, #65646e, #676671, #6a6974, #6c6b77, #74747f, #7d7d87, #85868f, #8e8f97);
}

.Drizzle {
    /* background-image: url('../assets/imagenes/Drizzle.webp');
    background-repeat: no-repeat; */
    background-size: cover;
    backdrop-filter: blur(3px);
    background-image: linear-gradient(to bottom, #a0a0c9, #9998c1, #9291b9, #8b89b1, #8482a9, #8583ab, #8584ad, #8685af, #8f8fbb, #979ac7, #a0a4d4, #a9afe0);
}

.Snow {
    /* background-image: url('../assets/imagenes/Snow.webp');
    background-repeat: no-repeat; */
    background-size: cover;
    backdrop-filter: blur(3px);
    background-image: linear-gradient(to bottom, #7197c0, #7fa1c6, #8caacd, #9ab4d3, #a7beda, #b2c5de, #bdcce1, #c8d3e5, #d2d8e7, #dbdee8, #e3e4e9, #eaeaeb);
}

.Clouds {
    /* background-image: url('../assets/imagenes/Clouds.jpg');
    background-repeat: no-repeat; */
    background-size: cover;
    backdrop-filter: blur(3px);
    background-image: linear-gradient(to bottom, #a2a9af, #9caab7, #96abbf, #91acc7, #8caccf, #8facd0, #91acd1, #94acd2, #9dabcb, #a4abc4, #a9abbe, #acacb7);
}

.Atmosphere {
    /* background-image: url(/assets/imagenes/clear_sky.webp);
    background-repeat: no-repeat; */
    background-size: cover;
    backdrop-filter: blur(3px);
    background-image: linear-gradient(to bottom, #4aa1ff, #00beff, #00d3e9, #47e3c7, #a2eeab, #c1f1a2, #dff39c, #fcf49c, #fbf396, #faf391, #f9f28b, #f8f285);

}


.container-web {
    
    max-width: 1020px;
    

    
}

header {
    width: 100%;
    
    
}

.img-logo{
    width: 100px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form_box{
    width: 600px;
}

#selectcity{
    width: 100%;
}

.input-city{    
    position: absolute;
    border-style: none;
    
}
.optionCity{
    color: #000;
}

.box_switch{
    min-width: 120px;
    display: none !important;
    padding-right: 5px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    
    
}

#btnsearh{
    display: block!important
}

.box-switch{
    margin: auto;
}
.input_label {
    font-size: 14px;
}

#btnfav{
    color: #000;
}

@media  (min-width: 576px) { 
    .box_switch {
        display: flex!important;
        margin: 5px;
        
    }
    .box_switch_desktop {
        display: none!important;
    }

    .card h3 {
        font-size: 2.5rem!important;
    }
    .description{
        font-size: 2rem!important;
    }

    #temp {
        font-size: 2.5rem!important;
        
    }

    .temp{
        font-size: 2.5rem!important;
    }
    .box_sunrise_set{
        margin: 0!important;
        flex-direction: row!important;
        
    }

    .sunriseset {
        font-size: 1.5rem!important;
        padding: 10px 0 15px 0!important
    }

    .logosol {
        filter: var(--filtro);
        width: 32px!important;;
        height: 32px!important;;    
        filter: opacity(70%);
        
    }

    .data {
        font-size: 1.6rem!important;
    }

    .box-date{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #date {
        font-size: 2.5rem!important;
        
    }

    #feelsTemp {
        font-size: 1.8rem!important;
        line-height: 28px!important;
    }

    .float-card h2 {        
        letter-spacing: 0.8rem!important;
        
    }

    
}

.box-newcard{
    margin: 75px 0 50px 0;
    width: 100%;
    height: 300px;
    background-color: #fff;
    display: flex;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.box-data{
    position: relative;
    width: 100%;
    height: 100%;
    
    
}

.float-card{
    position: absolute;
    top: -10%;
    left: -5%;
    width: 110%;
    height: 120%;
    background: rgba(218, 218, 218, 0.7);
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.float-card h2 {
    text-align: center;
    padding-top: 15px;

    letter-spacing: 0.1em;
    font-weight: 400;
}

.box-img-card{
    position: absolute;
    top: 0;
    width: 100%;
    
}
.box-img-card img{
    width: 100%;
    
    
}

.box-date {
    background: rgba(218, 218, 218, 0.7);
    width: 115%;
    padding: 5px;
    border-radius: 7px;
    font-size: 2.5rem;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
    
}

.box_sunrise_set{
    position: absolute;
    bottom: 0;    
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.sunriseset{
    font-size: 1.2rem;
    width: 100%;
    height: 100%;    
    text-align: center;
    
    
    
    
}

.logosol {
    
    width: 22px;
    height: 22px;    
    filter: opacity(70%);
    filter: var(--filtro);
}


.data{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
}

.card-body {
    padding-top: 20px!important;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    font-size: 1rem!important;
    line-height: 18px;
}

.box_switch_desktop{
    width: 140px;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    
}

.bg-glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
}

.card {
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.card h3 {
    padding-top: 20px;
    font-size: 1.2rem;
}

.menu-days ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.menu-days ul li{
    color: #fff;
    cursor: pointer;
    list-style: none;
    
}



.menu-days ul li a{
    text-decoration: none;
    color: #fff;
    
}



.day-selected{
    border-bottom: 1px solid #fff;
}

.temp{
    font-size: 1rem;
}


.img-clima{
    width: 100%;
    max-width: 200px;
}

.text-temp{
    width: 50%;
}

.cityfav {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin: 5px;
       
}

.btn-city{
    text-decoration: none;
    border: none;
    background-color: #fff
}



#namecity {
    color: var(--color-letra);
    font-size: 4rem;
}

#temptoday{
    font-size: 32px;
}

#date {
    font-size: 1.5rem;
}

#temp {
    font-size: 1.8rem;
    font-weight: 800;
}

#feelsTemp {
    font-size: 1rem;
    line-height: 18px;
}

footer{
    
    background-color: #5769fb;
}