* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.Clear {
    background-image: url('../assets/imagenes/clear_sky.webp');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.Thunderstorm {
    background-image: url('../assets/imagenes/Thunderstorm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.Rain {
    background-image: url('../assets/imagenes/Rain.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.Drizzle {
    background-image: url('../assets/imagenes/Drizzle.webp');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.Snow {
    background-image: url('../assets/imagenes/Snow.webp');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.Clouds {
    background-image: url('../assets/imagenes/Clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.Atmosphere {
    background-image: url(/assets/imagenes/clear_sky.webp);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}


.container-web {
    
    max-width: 1020px;
    

    
}

header {
    width: 100%;
    
    
}

.img-logo{
    width: 100px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form_box{
    width: 600px;
}

#selectcity{
    width: 100%;
}

.input-city{    
    position: absolute;
    border-style: none;
    
}
.optionCity{
    color: #000;
}

.box_switch{
    min-width: 120px;
    display: none !important;
    padding-right: 5px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    
    
}

#btnsearh{
    display: block!important
}

.box-switch{
    margin: auto;
}
.input_label {
    font-size: 14px;
}

#btnfav{
    color: #000;
}

@media (min-width: 576px) { 
    .box_switch {
        display: flex!important;
        margin: 5px;
        
    }
    .box_switch_desktop {
        display: none!important;
    }
}

.card-body {
    padding-top: 0!important;
}

.box_switch_desktop{
    width: 140px;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    
}

.bg-glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
}



.menu-days ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.menu-days ul li{
    color: #fff;
    cursor: pointer;
    list-style: none;
    
}



.menu-days ul li a{
    text-decoration: none;
    color: #fff;
    
}



.day-selected{
    border-bottom: 1px solid #fff;
}




.img-clima{
    width: 100%;
    max-width: 200px;
}

.text-temp{
    width: 50%;
}

#temptoday{
    font-size: 32px;
}

#temp {
    font-size: 30px;
}

footer{
    
    background-color: #5769fb;
}