* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.Clear {
    background-image: url('../assets/imagenes/clear_sky.webp');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.Thunderstorm {
    background-image: url('../assets/imagenes/Thunderstorm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.Rain {
    background-image: url('../assets/imagenes/Rain.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.Drizzle {
    background-image: url('../assets/imagenes/Drizzle.webp');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.Snow {
    background-image: url('../assets/imagenes/Snow.webp');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.Clouds {
    background-image: url('../assets/imagenes/Clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}

.Atmosphere {
    background-image: url(/assets/imagenes/clear_sky.webp);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
}


.container-web {
    
    max-width: 1020px;
    

    
}

header {
    width: 100%;
    
    
}

.img-logo{
    width: 100px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form_box{
    width: 600px;
}

#selectcity{
    width: 100%;
}

.input-city{    
    position: absolute;
    border-style: none;
    
}
.optionCity{
    color: #000;
}

.box_switch{
    min-width: 120px;
    display: none !important;
    padding-right: 5px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    
    
}

#btnsearh{
    display: block!important
}

.box-switch{
    margin: auto;
}
.input_label {
    font-size: 14px;
}

#btnfav{
    color: #000;
}

@media  (min-width: 576px) { 
    .box_switch {
        display: flex!important;
        margin: 5px;
        
    }
    .box_switch_desktop {
        display: none!important;
    }

    .card h3 {
        font-size: 2.5rem;
    }

    #temp {
        font-size: 2.5rem!important;
        
    }

    .sunriseset {
        font-size: 1.5rem!important;
        padding: 10px!important
    }

    .logosol {
    
        width: 32px!important;;
        height: 32px!important;;    
        filter: opacity(70%);
        
    }

    .data {
        font-size: 1.6rem!important;
    }

    .box-date{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #date {
        font-size: 2.5rem!important;
        
    }

    #feelsTemp {
        font-size: 1.8rem!important;
        line-height: 28px!important;
    }

    .float-card h2 {
        font-weight: 800!important;
    }

    
}

.box-newcard{
    margin: 75px 0 50px 0;
    width: 100%;
    height: 300px;
    background-color: #fff;
    display: flex;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.box-data{
    position: relative;
    width: 100%;
    height: 100%;
    
    
}

.float-card{
    position: absolute;
    top: -10%;
    left: -5%;
    width: 110%;
    height: 120%;
    background: rgba(218, 218, 218, 0.7);
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.float-card h2 {
    text-align: center;

    letter-spacing: 0.2em;
    font-weight: 400;
}

.box-img-card{
    position: absolute;
    top: 0;
    width: 100%;
    
}
.box-img-card img{
    width: 100%;
    
    
}

.box-date {
    background: rgba(218, 218, 218, 0.7);
    width: 115%;
    padding: 5px;
    border-radius: 7px;
    font-size: 2.5rem;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    
}

.box_sunrise_set{
    position: absolute;
    bottom: 0;    
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sunriseset{
    font-size: 1rem;
    width: 100%;
    height: 100%;
    padding: 22px 4px 0 4px;
    text-align: center;
    
    
}

.logosol {
    
    width: 18px;
    height: 18px;    
    filter: opacity(70%);
}


.data{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
}

.card-body {
    padding-top: 20px!important;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body h4{
    font-size: 1.2rem!important;
}

.box_switch_desktop{
    width: 140px;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    
}

.bg-glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
}

.card h3 {
    padding-top: 20px;
}

.menu-days ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.menu-days ul li{
    color: #fff;
    cursor: pointer;
    list-style: none;
    
}



.menu-days ul li a{
    text-decoration: none;
    color: #fff;
    
}



.day-selected{
    border-bottom: 1px solid #fff;
}




.img-clima{
    width: 100%;
    max-width: 200px;
}

.text-temp{
    width: 50%;
}

#namecity {
    color: #323232;
    font-size: 4rem;
}

#temptoday{
    font-size: 32px;
}

#date {
    font-size: 1.3rem;
}

#temp {
    font-size: 1.8rem;
    font-weight: 800;
}

#feelsTemp {
    font-size: 1rem;
    line-height: 18px;
}

footer{
    
    background-color: #5769fb;
}